.todos {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 8px;
  }
  
  .todo {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .todo:hover {
	transform: translateY(-2px);
	box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  }
  
  .todo:nth-child(even) {
	background-color: #EEE;
  }
  
  .todo:last-of-type {
	border-bottom: 0;
	margin-bottom: 0;
  }
  
  .todo .id {
	flex: 0 0 50px;
	text-align: center;
	font-weight: bold;
	color: #555;
  }
  
  .todo .content {
	flex: 1;
	margin: 0 10px;
	font-size: 18px;
	color: #333;
  }
  
  .todo.done .content {
	color: #999;
	text-decoration: line-through;
  }
  
  .todo-input {
	display: block;
	width: calc(100% - 30px);
	padding: 10px 15px;
	appearance: none;
	border: none;
	border-radius: 4px;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  }
  
  .todo-submit {
	display: block;
	width: calc(100% - 30px);
	appearance: none;
	border: none;
	outline: none;
	background-color: #5cb85c;
	color: #FFF;
	margin: 15px auto;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
  }
  
  .todo-submit:hover {
	background-color: #4cae4c;
  }
  
  .todo .delete {
	background-color: #d9534f;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
  }
  
  .todo .delete:hover {
	background-color: #c9302c;
  }
  
  body, input, button {
	font-family: 'Orbitron', sans-serif;
  }
  
  .todo .id, .todo .content, .todo-submit {
	font-weight: 700; /* This makes the font bold */
  }
  
  /* You may also want to increase the weight of the text inside buttons and other important UI elements */
  .todo-submit, .todo .delete {
	font-weight: 700;
  }
  
  