<div class="todos">
    
    <form (submit)="addTodo()">
        {{ title }}
        <input 
            type="text"
            name="inputTodo"
            placeholder="Enter Your Tasks Here..."
            class="todo-input"
            [(ngModel)]="inputTodo"
        />
        <br>
        <input type="submit" value="Add To Your List" class="todo-submit">
    </form>
    <br><br>
    <div *ngFor="let todo of todos; let i=index;" class="todo {{ (todo.completed ? 'done' : '')}}">
        <div class="id"> {{ i+1 }} </div>
          <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
          <button *ngIf="i > 0" class="bump" (click)="bumpTodo(i)">BUMP</button>
          <!-- i === 0 so it doesnt keep going up -->
          <button class="delete" (click)="deleteTodo(i)">DELETE</button>
    </div>
    <br>
    <div class="button-container">
        <button class="show-deleted-btn" (click)="showDeleted()">Show Last 10 Deleted Tasks</button>
      </div>
        <div *ngIf="showDeletedTasks">
        <div *ngFor="let deletedTodo of deletedTodos" class="deleted-todo">
          {{ deletedTodo.content }}
        </div>
      </div>
    <br>
</div>
