/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }
  
  #background-video {
    position: fixed;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
  }
  
  app-root, .content {
    position: relative;
    z-index: 1; /* Ensures app content is above the background video */
  }